#idCadastroAlnuo {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.596);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
}

#idCadastroAlnuo input,
#idCadastroAlnuo select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(112 26 117);
}

#idCadastroAlnuo input[type="submit"] {
  margin-top: 20px;
  color: white;
  background-color: rgb(112 26 117);
  cursor: pointer;
}


#idCloseNav {
  display: grid;
  grid-template-columns: 20fr 1fr;
  place-items: center;
}

#idCloseButton{
  background-color: rgb(112 26 117);
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.5rem;
}

/* CreateAccountPage.css */
.create-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, rgb(2 6 23), rgb(15 23 42));
}

.create-account-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.create-account-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(74 4 78);
}

.create-account-container input,
.create-account-container select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(74, 4, 78, 0.377);
  color: rgb (74 4 78);
}

.create-account-container input[type="submit"] {
  margin-top: 20px;
  background: rgb(74 4 78);
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(74, 4, 78, 0.377);
  color: white;
  cursor: pointer;
}

.create-account-container input[type="submit"]:hover {
  background-color: #0056b3;
}

.back-button {
  margin-top: 10px;
  background: red;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(255, 0, 0, 0.377);
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
}

.back-button:hover {
  background-color: #cc0000;
}
