@charset "UTF-8";

/* ----- Pagina Principal ----- */

#idMain {
    background-color: rgb(15 23 42);
    height: 100%;
padding-bottom: 1rem;
}


.clDivBotoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 70%;
    margin: auto;
}

/* ----- Lista Treinos ----- */

#idListaTreinos{
    background-color: rgba(158, 158, 158, 0.432);
    width: 90%;
    max-width: 85rem;

    margin: auto;
    margin-top: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    margin-bottom: 8rem;

    border-radius: 1rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.192);
}

#idTreinosNavBar{
    display: grid;
    /* ---- Melhor Layout para celular se ---- */
    /* ---- A partir de 700px mudar par a 12fr 2fr ---- */
    grid-template-columns: 12fr 1fr;
    place-items:  center;
}

#idTreinosFiltro{
    display: grid;
    place-items: center;
}

#idButtonBackground{
    background-color: white;
    border: none;
    border-radius: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.199);
}

#idTreinosFiltroImg{
    width: 2.5rem;
    margin-top: 0.15rem;
}