

/* ----- Pagina Principal ----- */

#idMain {
  background-color: white;
  height: 100vw;
}



/* ----- Botôes ----- */

#idBotoesPaginaPrincipal{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 60rem;
}

#idCadastrarAluno{
  margin-top: 3rem;
  margin: auto;
  width: 60rem;
}

#idRanking{
  margin-left: 0.8rem;
  margin-top: 0.7rem;
}

#idCadastrarAluno{
  margin-top: 2rem;
}

/* ----- Lista ALunos ----- */

#idListaAluno{
  background-color: rgb(158, 158, 158);
  height: 20rem;
  width: 55rem;
  margin: auto;
  margin-top: 2rem;

  border-radius: 1rem 1rem 0 0;

}

