#idNav{
    background-color: rgb(15 23 42);
    display: grid;
    grid-template-columns: 1fr 2fr 12fr 1fr 2fr  0.5fr;
    place-items: center;
    
  }
  
  #idNavImgBackground{
    margin: auto;
  }
  #idNavImg{
    width: 6.2rem;
    transition: transform 0.3s ease;
  }

  #idNavImg:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  #idLogoName{
    color: white;
    margin: auto;
    font-size: 1.6rem;
    font-weight: bold;
    transition: transform 0.3s ease;
  }

  #idLogoName:hover {
    cursor: pointer;
    color: rgb(33, 86, 156);
    transform: scale(1.2);
  }

  .clNavBotaoBackground{
    margin: auto;
  }
  
  .clNavBotao{
    background-color: rgb(112 26 117);
    border: none;
    border-radius: 1.4rem;
  
    margin: auto;
    padding: 0.6rem 1.6rem;
    transition: transform 0.3s ease;
  
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
  }

  
  .clNavBotao:hover {
    cursor: pointer;
    color: rgb(33, 86, 156);
    transform: scale(1.2);
  }