@charset "UTF-8";

#idTreinoCard {
    background-color: white;
    height: 3rem;
    margin: auto;
    margin-top: 1rem;
    width: 95%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.1rem 1rem rgba(0, 0, 0, 0.199);

    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: 2fr 14fr 18fr 2fr;
}

#idTreinoCard:hover{
    cursor: pointer;
}

#idAlunoImgBackground{
    display: grid;
    place-items: center;
}


#idTreinoImg{
    width: 3rem;
    margin-left: 1rem;
}

#idTreinoNome{
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
}

#idGrupoTreino{
    display: grid;
    place-items: center left;
    
    text-align: left;
    font-size: 1.1rem
}

#idImg{
    width: 2rem;
    padding: 0.2rem;
}


.clClosedImg{
    transform: rotate(270deg);
}

div ul{
    display: none;
}

div ul.clOpened{
    display: grid;
    margin: auto;
    width: 92%;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

div ul.clOpened li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.clOpenedImg{
    transform: rotate(90deg);
}

#idAtividadesList{
}

.clAtividade{

}